<app-navbar></app-navbar>
<section id="register">
    <div class="row justify-content-center">
        <div class="card login-card">
            <div class="card-body">
                <h1 class="card-title text-center">Registre</h1>
                <mat-horizontal-stepper appStepperPosition="bottom" #stepper labelPosition="bottom">
                    <form novalidate [formGroup]="user">
                        <!--STEP 1-->
                        <mat-step>
                            <div class="container">
                                    <div class="mb-3 row">
                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Nom</mat-label>
                                                <input matInput type="text" placeholder="Introdueix el teu nom." formControlName="nom">
                                                <mat-error *ngIf="user.invalid">{{getErrors('nom','user')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Cognoms</mat-label>
                                                <input matInput type="text" placeholder="Introdueix els teus cognoms." formControlName="cognoms">
                                                <mat-error *ngIf="user.invalid">{{getErrors('cognoms','user')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Email</mat-label>
                                                <input matInput type="email" placeholder="Introdueix el teu email." formControlName="email">
                                                <mat-error *ngIf="user.invalid">{{getErrors('email','user')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Password</mat-label>
                                                <input matInput type="password" placeholder="Introdueix la teva contrasenya." formControlName="password">
                                                <mat-error *ngIf="user.invalid">{{getErrors('password','user')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Password</mat-label>
                                                <input matInput type="password" placeholder="Repeteix la teva contrasenya." formControlName="confirmPassword">
                                                <mat-error *ngIf="user.invalid">{{getErrors('confirmPassword','user')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row justify-content-center">
                                        <button mat-button class="btn btn-primary" (click)="goForwardStep(stepper,'first')">Següent</button>
                                    </div>
                            </div>
                        </mat-step>
                        <!--STEP 2-->
                        <mat-step >
                            <div class="container">
                                <div class="mb-3 row">
                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>DNI</mat-label>
                                            <input matInput type="text" placeholder="Introdueix el teu dni." formControlName="dni">
                                            <mat-error *ngIf="user.invalid">{{getErrors('dni','user')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Data de naixement</mat-label>
                                            <input matInput type="text" placeholder="Introdueix la teva data de naixement." formControlName="date" onfocus="(this.type='date')">
                                            <mat-error *ngIf="user.invalid">{{getErrors('date','user')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Sexe</mat-label>
                                            <mat-select formControlName="sexe" placeholder="Selecciona el teu sexe.">
                                                <mat-option value="Home">Home</mat-option>
                                                <mat-option value="Dona">Dona</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="user.invalid">{{getErrors('sexe','user')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Localitat</mat-label>
                                            <input matInput type="text" placeholder="Introdueix la teva localitat." formControlName="localitat">
                                            <mat-error *ngIf="user.invalid">{{getErrors('localitat','user')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Rol</mat-label>
                                            <mat-select formControlName="rol" placeholder="Selecciona el teu rol.">
                                                <mat-option value="Jugador">Jugador</mat-option>
                                                <mat-option value="Organitzador">Organitzador</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="user.invalid">{{getErrors('rol','user')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="row justify-content-center">
                                    <button mat-button class="btn btn-primary" (click)="goForwardStep(stepper,'second')">Següent</button>
                                </div>
                            </div>
                        </mat-step>
                    </form>
                    <form novalidate [formGroup]="jugador">
                        <!--STEP 3 (JUGADOR)-->
                        <mat-step *ngIf="(user.controls['rol'].value === 'Jugador'); else organitzador">
                            <div class="container">
                                <div class="mb-3 row">
                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Altura (cm)</mat-label>
                                            <input matInput type="number" placeholder="Introdueix la teva altura." formControlName="altura">
                                            <mat-error *ngIf="jugador.invalid">{{getErrors('altura','jugador')}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Pes (Kg) </mat-label>
                                            <input matInput type="number" placeholder="Introdueix el teu pes." formControlName="pes">
                                            <mat-error *ngIf="jugador.invalid">{{getErrors('pes','jugador')}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button mat-button class="btn btn-primary" (click)="goForwardStep(stepper,'jugador')">Següent</button>
                                </div>
                            </div>
                        </mat-step>
                    </form>
                    <form novalidate [formGroup]="org">
                        <!--STEP 3 (ORGANITZADOR)-->
                        <ng-template #organitzador>
                            <mat-step>
                                <div class="container">
                                    <div class="mb-3 row">

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Nom de l'organització </mat-label>
                                                <input matInput type="text" placeholder="Introdueix el nom de l'organització." formControlName="orgName">
                                                <mat-error *ngIf="org.invalid">{{getErrors('orgName','org')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Email de l'organització </mat-label>
                                                <input matInput type="email" placeholder="Introdueix el email de l'organització." formControlName="orgEmail">
                                                <mat-error *ngIf="org.invalid">{{getErrors('orgEmail','org')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Telèfon de l'organització </mat-label>
                                                <input matInput type="text" placeholder="Introdueix el telèfon de l'organització." formControlName="orgTelefon">
                                                <mat-error *ngIf="org.invalid">{{getErrors('orgTelefon','org')}}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-1-12">
                                            <mat-form-field appearance="legacy" class="formfield">
                                                <mat-label>Descripció de l'organització </mat-label>
                                                <textarea matInput rows="5" class="form-control" placeholder="Introdueix la descripció de la teva organització." formControlName="orgDesc"></textarea>
                                                <mat-error *ngIf="org.invalid">{{getErrors('orgDesc','org')}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button mat-button class="btn btn-primary" (click)="goForwardStep(stepper,'organitzador')">Següent</button>
                                    </div>
                                </div>
                            </mat-step>   
                        </ng-template>
                    </form>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</section>

