
#register{
    background-color: rgb(184, 227, 250);
    position:relative;
    background-size: cover;
    background-position: center center;
    min-height: 95vh;
    padding-top: 5%;
}

.login-card {
    max-width: 500px;
}

.btn {
    background-color: rgb(13, 189, 243);
    color: rgb(255, 255, 255);
    border-color: rgb(13, 189, 243);
}

.col-sm-1-12 {
    padding-left:0;
    padding-right:0;
    margin-bottom: 2%;
}

.linkRegister{
    color:rgb(13, 189, 243);
    cursor: pointer;
}

select:required:invalid {
    color: gray;
}

textarea {
    height: 150px;
}

.formfield{
    width:100%;
    height:15 px;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgb(13, 189, 243);
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(13, 189, 243) !important;
}