<mat-toolbar color="primary" *ngIf="!(authService.isLoggedIn); else loggedJugador">
  <span></span>
  <span *ngIf="!(router.url === '/')">
      <img src="../../../assets/imgs/YL.png" class="logoYL" routerLink="">
  </span>
  <div class="spacer"></div>
  <a mat-button routerLink="">Home</a>
  <a mat-button>Qui som?</a>
  <a mat-button>Contacte</a>
  <a mat-button>Competicions</a>
  <a mat-button [routerLink]="['/register']">Registrar-se</a>
  <a mat-button [routerLink]="['/login']">Iniciar sessió</a>
</mat-toolbar>

<ng-template #loggedJugador>
  <mat-toolbar class = "app-toolbar"color="primary" style="background-color: rgb(13, 189, 243);  color: rgb(255, 255, 255);">
    <span>
        <img src="../../../assets/imgs/YLBlanco.png" class="logoYL" routerLink="">
    </span>
      <a mat-button routerLink="">Home</a>
      <a mat-button>Buscar Competicions</a>
      <div class="spacer"></div>
      <img class="userImg" src={{uploadService.downloadURL}}>
        <a mat-button>{{this.usuari.nom}}</a>
        <a mat-button [routerLink]="['/my-teams']">Equips</a>
        <a mat-button>Competicions</a>
        <a mat-button>Partits</a>
        <a mat-button (click)="authService.logout()"><mat-icon class="iconExit">exit_to_app</mat-icon></a>
  </mat-toolbar> 
</ng-template>

<ng-template #loggedOrg>
  <mat-toolbar class = "app-toolbar" color="primary" style="background-color: rgb(13, 189, 243);  color: rgb(255, 255, 255);">
    <span>
        <img src="../../../assets/imgs/YLBlanco.png" class="logoYL" routerLink="">
    </span>
      <a mat-button routerLink="">Home</a>
      <div class="spacer"></div>
      <img class="userImg">
        <a mat-button>{{this.usuari.nom}}</a>
        <a mat-button>Competicions</a>
        <a mat-button>Partits</a>
        <a mat-button (click)="authService.logout()"><mat-icon class="iconExit">exit_to_app</mat-icon></a>
  </mat-toolbar> 
</ng-template>
