<app-navbar></app-navbar>
<section id="home">
    <div class="row justify-content-center" style="margin-right: 0px;">
        <div style="max-width:1200px">
            <h1>Els meus Partits</h1>
            <div class="card" style="background-color:rgb(80,178,230)">
                <div class="card-body">
                    <div class="card" *ngFor="let partit of partits" style="margin-top:15px"  [routerLink]="['/competition/',partit.competicioID,'partit',partit.id]">
                        <div class="card-body ficha-partit" >
                            <div class="col-sm-2"><img class="escut" [src]="partit?.infoLocal?.img"></div>
                            <div class="col-sm-3" style="text-align: left;"><h4>{{partit?.infoLocal?.nom}}</h4></div>
                            <div class="col-sm-2 text-center">
                                <div class="row score text-center">
                                    <p *ngIf="partit?.resultat?.guanyador == ''">N/D</p>
                                    <p *ngIf="partit?.resultat?.guanyador != ''">{{partit?.resultat?.puntsEquipLocal}} - {{partit?.resultat?.puntsEquipVis}}</p>
                                </div>
                                <div class="row info-under-score">
                                    <p *ngIf="!(partit.horari==null)">{{partit?.horari.toDate() | date: 'dd-MM-yyy HH:mm' }}</p>
                                    <p *ngIf="(partit.horari==null)">Horari no especificat</p>
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align: right;"><h4>{{partit?.infoVis?.nom}}</h4></div>
                            <div class="col-sm-2" style="text-align: right;"><img class="escut" [src]="partit?.infoVis?.img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

