table {
    table-layout:fixed;
    width:100%;
    font-family: Lato;
    border-bottom-width: 0px;
}
.escut{
    width:50px;
    height:50px;
    border-radius: 50%;
}
table td{
    vertical-align: middle;
    color:rgb(109, 109, 109);
    border-color:rgb(80,178,230);
    padding-top:2px;
}
th{
    border-color:rgb(80,178,230);
    border-bottom-width:3px;
}
.nom{
    text-align:left;
    color:rgb(0, 0, 0) !important;

}
.puntuacio{
    color:black;
}