<app-navbar></app-navbar>
<section id="home" *ngIf="!(authService.isLoggedIn); else loggedIn">
    <div class="row">
        <div class="col-left">
            <img src="../../../assets/imgs/yourleagues4.png" id="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <div class="textbox">
                <p>Organitza els teus torneigos i lligues amb la millor aplicació per a crear competicions, creació de calendari automàtic, processament automàtic de resultats,                
                    Gestiona els teus equips i inscriu-te a les competicions creades per altes usuaris de la comunitat.
                </p>
            </div>
        </div>
        <div class="col-right">
            <div id="btn">
                <button mat-raised-button id="login" [routerLink]="['/login']">Iniciar sessió</button>
            </div>
            <div id="btn">
                <button mat-raised-button id="register" [routerLink]="['/register']">Registra't</button>
            </div>         
        </div>
    </div>
</section>
<ng-template #loggedIn>
<section id="home">
    <div class="row-logged justify-content-center">
        <div style="max-width:1500px; width:100%" *ngIf="usuari.rol == 'Jugador'">
            <h1>Equips:</h1>
            <div class ="row">
                <div class="card team col-sm-3" *ngIf="equips?.length == 0">
                    <div class ="row card-body team-item text-center justify-content-center">
                        <img src="../../../assets/imgs/sad_face.png" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> Encara no formes part de cap equip. </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['/create-team']">Crear Equip</button>
                        </div>
                    </div>
                </div>
                <div class="card team col-sm-3" *ngFor="let equip of equips">
                    <div class ="row card-body team-item text-center justify-content-center">
                        <img [src]="equip.img" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> [{{equip.abreviacio}}]    {{equip.nom}} </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['/my-teams/',equip.id]">Veure Detalls</button>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Competicions:</h1>
            <div class ="row">
                <div class="card comp col-sm-3">
                    <div class ="row card-body team-comp text-center justify-content-center">
                        <img src="../../../assets/imgs/trophy.png" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> Encara no formes part de cap competició. </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['/create-team']">Buscar competició</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div div style="max-width:1500px; width:100%" *ngIf="usuari.rol == 'Organitzador'">
            <h1>Les Meves Competicions:</h1>
            <div class ="row" *ngIf="competicions?.length == 0">
                <div class="card comp col-sm-3">
                    <div class ="row card-body team-comp text-center justify-content-center">
                        <img src="../../../assets/imgs/trophy.png" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> Encara no has creat cap competició. </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['/create-competition']">Crear competició</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="row" *ngIf="competicions?.length != 0">
                <div class="card comp col-sm-3" *ngFor="let competicio of competicions">
                    <div class ="row card-body team-comp text-center justify-content-center">
                        <img [src]="competicio.img" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> {{competicio.nom}} </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['']">Veure competició</button>
                        </div>
                    </div>
                </div>
                <div class="card comp col-sm-3">
                    <div class ="row card-body team-comp text-center justify-content-center">
                        <img src="../../../assets/imgs/trophy.png" class ="team-avatar">
                        <div style="background-color:white">
                            <p class ="titulo-equipo" style="margin-top:5%;"> Crea una nova competició. </p>
                            <button mat-raised-button class="team-btn" [routerLink]="['/create-competition']" style="background-color:rgb(65, 189, 102);">Crear competició</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</ng-template>


