
<div class="card">
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" style="width:100%" *ngIf="(esGols)">
            <ng-container matColumnDef="pos">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
            </ng-container>
         
            <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef class="text-center"> </th>
                <td mat-cell *matCellDef="let element"> <img class="avatar" [src]="element.imgJugador"></td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nomJugador}} {{element.cognomJugador}} </td>
            </ng-container>

            <ng-container matColumnDef="equip">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Equip </th>
                <td mat-cell *matCellDef="let element"> {{element.equipNom}} </td>
            </ng-container>
        
            <ng-container matColumnDef="targetesGrogues">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <img src="../../../assets/imgs/yellow-card.png" width="25px" height="25px"> </th>
                <td mat-cell *matCellDef="let element"> {{element.targetesGrogues}} </td>
            </ng-container>

            <ng-container matColumnDef="targetesVermelles" >
                <th mat-header-cell *matHeaderCellDef class="text-center"> <img src="../../../assets/imgs/red-card.png" width="25px" height="25px"> </th>
                <td mat-cell *matCellDef="let element"> {{element.targetesVermelles}} </td>
            </ng-container>

            <ng-container matColumnDef="gols">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <img src="../../../assets/imgs/ball.png" width="25px" height="25px"> </th>
                <td mat-cell *matCellDef="let element"> {{element.gols}} </td>
            </ng-container>

            <ng-container matColumnDef="partits">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Partits </th>
                <td mat-cell *matCellDef="let element"> {{element.partitsJugats}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator #paginator showFirstLastButtons  
            [pageIndex]="1"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]">
        </mat-paginator>
    </div>
</div>
