<app-navbar></app-navbar>
<section id="home">
    <div class="row justify-content-center">
        <div style="max-width:1000px">
            <div class ="row">
                <div class="col-sm-4">
                    <h1>Crear Equip</h1>
                </div>
            </div>
            <div class="card card-bg">
                <div class="card-body">
                    <form novalidate [formGroup]="team">
                        <div class="container col">
                            <div class="mb-3 row">
                                <div class = "col-sm-6 text-center team-form-fields justify-content-center"> 
                                    <h1 class="tittle-inputs">Dades del equip</h1>
                                    <div class="col-sm-1-12"style = "margin-top:10%;">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Nom de l'equip</mat-label>
                                            <input matInput type="text" placeholder="Introdueix el teu nom." formControlName="nom">
                                            <mat-error *ngIf="team.invalid">{{getErrors('nom')}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Abreviació de l'equip</mat-label>
                                            <input matInput type="text" placeholder="Introdueix els teus cognoms." formControlName="abreviacio">
                                            <mat-error *ngIf="team.invalid">{{getErrors('abreviacio')}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-1-12">
                                        <mat-form-field appearance="legacy" class="formfield">
                                            <mat-label>Dorsal</mat-label>
                                            <input matInput type="number" min="1" max="99" placeholder="Introdueix el teu dorsal." formControlName="dorsal">
                                            <mat-error *ngIf="team.invalid">{{getErrors('dorsal')}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class = "col-sm-6 text-center">
                                    <h1 class="tittle-inputs">Imatge del equip</h1>
                                    <upload-image [parent]="esEquipo"></upload-image>
                                </div>
                            </div>
                        </div>
                        <div class="container col">

                        </div>
                        <div class="row">
                            <div class = "col-sm-6 justify-content-center text-center">
                                <button mat-button class="btn btn-primary" (click)="submitFormTeam()">Següent</button>
                            </div>
                        </div>     
                     </form>
                </div>
            </div>
        </div>
    </div>
</section>