<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let player of parent?.jugadors"  >
                <tr>
                    <td>{{player.nom}}</td>
                    <td>{{player.email}}</td>
                    <td><mat-icon class="icono-tab">delete</mat-icon></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>