<div class="card">
    <div class="card-body">
        <h1 style="color:rgb(138, 138, 138)">Jornada {{numJornada}}</h1>
        <div class="card" *ngFor="let partit of getPartits()" style="margin-top:15px"  [routerLink]="['/competition/',partit.competicioID,'partit',partit.id]">
            <div class="card-body ficha-partit" >
                <div class="col-sm-2"><img class="escut" [src]="partit?.infoLocal?.img"></div>
                <div class="col-sm-3" style="text-align: left;"><h4>{{partit?.infoLocal?.nom}}</h4></div>
                <div class="col-sm-2 text-center">
                    <div class="row score text-center">
                        <p *ngIf="partit?.resultat?.guanyador == ''">N/D</p>
                        <p *ngIf="partit?.resultat?.guanyador != ''">{{partit?.resultat?.puntsEquipLocal}} - {{partit?.resultat?.puntsEquipVis}}</p>
                    </div>
                    <div class="row info-under-score">
                        <p *ngIf="!(partit.horari==null)">partit.horari</p>
                        <p *ngIf="(partit.horari==null)">Horari no especificat</p>
                    </div>
                </div>
                <div class="col-sm-3" style="text-align: right;"><h4>{{partit?.infoVis?.nom}}</h4></div>
                <div class="col-sm-2"><img class="escut" [src]="partit?.infoVis?.img"></div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:1%">
            <div class="col btn-wrap" *ngFor="let item of [].constructor(totalJornades); let i = index">
                <button (click)="setNumJornada(i+1)" class="btn-jornada" [ngStyle]="{'background-color':numJornada== i+1 ? 'rgb(13, 189, 243)' : 'rgb(71,82,94)'}"> {{i+1}} </button>
            </div>
        </div>
    </div>
</div>
