<app-navbar></app-navbar>
<section id="home" *ngIf="competition?.estatCompeticio == 'oberta'">
    <div class="row justify-content-center">
        <div style="max-width:1000px">
            <div class ="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-1 align-self-center" style="margin-bottom:1%; margin-top:1%;">
                    <img [src]="competition?.img">
                </div>
                <div class="col-sm-6 align-self-center">
                    <h1>{{competition?.nom}}</h1>
                </div>
                <div class="col-sm-2 align-self-center" *ngIf="usuari.rol=='Jugador' && competition?.equips.length < competition?.numEquips">
                    <button class="btn-join" mat-raised-button (click)="openDialog()">Unir-se</button>
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-3">
                    <div class="card wrap-card-lateral">
                        <div class="card-body">
                            <div class="card" (click)="tabGroup.selectedIndex=0" [ngStyle]="{'background-color':tabGroup.selectedIndex == 0 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 0 ? 'rgb(71,82,94)':'white'}">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;" >group</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center">Equips: {{competition?.equips.length}}/{{competition?.numEquips}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%;" (click)="tabGroup.selectedIndex=1" 
                            [ngStyle]="{'background-color':tabGroup.selectedIndex == 1 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 1 ? 'rgb(71,82,94)':'white'}"
                            *ngIf="(competition?.organitzador == uid)"
                            >
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;" >edit</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center">Editar dades</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%; background-color:rgb(95, 249, 164); color:white" (click)="iniciarCompeticio()" *ngIf="(competition?.equips.length == competition?.numEquips && competition?.organitzador == uid)">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class="col-sm-2 align-self-center" style="margin-left:5%">
                                            <mat-icon style="margin-top:5px;" >lock_open</mat-icon>
                                        </div>
                                        <div class="col-sm-9 align-self-center">
                                            <div class="align-self-center">Iniciar Competició</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%; background-color:rgb(249,95,98); color:white" (click)="iniciarCompeticio()" *ngIf="!(competition?.equips.length == competition?.numEquips) && (competition?.organitzador == uid)" >
                                <div class="card-body card-lateral">
                                    <div class ="row" >
                                        <div class="col-sm-2 align-self-center" style="margin-left:5%">
                                            <mat-icon style="margin-top:5px;" >lock</mat-icon>
                                        </div>
                                        <div class="col-sm-9 align-self-center" (click)="iniciarCompeticio()">
                                            <div class="align-self-center">Iniciar Competició</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card teaminfo">
                        <div class="card-body">
                            <mat-tab-group class="tabteaminfo text-center" mat-align-tabs="center" #tabGroup>
                                <mat-tab label="First">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">group</mat-icon>
                                         Equips
                                    </ng-template>
                                    <list-teams [parent]="this"></list-teams>
                                </mat-tab>
                                <mat-tab label="Second" *ngIf="competition?.organitzador == uid">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">edit</mat-icon>
                                        Dades
                                    </ng-template>
                                </mat-tab>
                              </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home" *ngIf="competition?.estatCompeticio == 'tancada'">
    <div class="row justify-content-center">
        <div style="max-width:1000px">
            <div class ="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-1 align-self-center" style="margin-bottom:1%; margin-top:1%;">
                    <img [src]="competition?.img">
                </div>
                <div class="col-sm-6 align-self-center">
                    <h1>{{competition?.nom}}</h1>
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-3">
                    <div class="card wrap-card-lateral">
                        <div class="card-body">
                            <div class="card" (click)="tabGroup.selectedIndex=0" [ngStyle]="{'background-color':tabGroup.selectedIndex == 0 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 0 ? 'rgb(71,82,94)':'white'}">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;">emoji_events</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center">Classificació</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%;" (click)="tabGroup.selectedIndex=1" [ngStyle]="{'background-color':tabGroup.selectedIndex == 1 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 1 ? 'rgb(71,82,94)':'white'}">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;">event</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center"> Resultats </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%;" (click)="tabGroup.selectedIndex=2" [ngStyle]="{'background-color':tabGroup.selectedIndex == 2 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 2 ? 'rgb(71,82,94)':'white'}">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;">bar_chart</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center"> Estadístiques </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-top:5%;" (click)="tabGroup.selectedIndex=3" [ngStyle]="{'background-color':tabGroup.selectedIndex == 3 ? 'white' : 'rgb(71,82,94)','color':tabGroup.selectedIndex == 3 ? 'rgb(71,82,94)':'white'}">
                                <div class="card-body card-lateral">
                                    <div class ="row">
                                        <div class=" col-sm-1"></div>
                                        <div class="col-sm-2 align-self-center">
                                            <mat-icon style="margin-top:5px;">description</mat-icon>
                                        </div>
                                        <div class="col-sm-8 align-self-center">
                                            <div class="align-self-center"> Reglament </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card teaminfo">
                        <div class="card-body">
                            <mat-tab-group class="tabteaminfo text-center" mat-align-tabs="center" #tabGroup>
                                <mat-tab label="First">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">emoji_events</mat-icon>
                                        Classificació
                                    </ng-template>
                                    <classificacio [parent]="this"></classificacio>
                                </mat-tab>
                                <mat-tab label="Second">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">event</mat-icon>
                                        Resultats
                                    </ng-template>
                                </mat-tab>
                                <mat-tab label="Third">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">bar_chart</mat-icon>
                                        Estadístiques
                                    </ng-template>
                                </mat-tab>
                                <mat-tab label="Fourth">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="icono-tab">description</mat-icon>
                                        Reglament
                                    </ng-template>
                                </mat-tab>
                              </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

