@import "~bootstrap-icons/font/bootstrap-icons.css";
#home{
    background-color: rgb(184, 227, 250);
    position:relative;
    background-size: cover;
    background-position: center center;
    min-height: 95vh;
}
.card-lateral{
    padding:5px;
    cursor:pointer;
}
.wrap-card-lateral{
    background-color: rgb(80,178,230);
    border-radius: 3%;
}
.teaminfo{
    background-color: rgb(80,178,230);
}
.tabteaminfo{
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
}
.icono-tab{
    margin-right:10px;
}
.btn-join{
    background-color: rgb(80,178,230);
    color:white;
}
.escut{
    height:50px;
    width:50px;
    text-align: center;
}
.info-under-score{
    font-size:12px;
}
.score{
    font-size:25px;
}

.ficha-partit{
    display: flex;
    align-items: center;
}
h6{
    margin-bottom: 0px;
}
p{
    margin-bottom:0px;
}

.tornar-btn{
    background-color:rgb(71,82,94);
    color:white;
    margin-bottom: 1%;
    width:auto;
    height:auto;
}